@page "/Contests/{id:Guid}"
@using Praxeum.Data
@model DetailsModel

@{
    ViewData["Title"] = "Contest";
}

<h1>Contest</h1>

<form>
    <div class="form-group">
        <label asp-for="Contest.Name"></label>
        <p class="form-control-static">@Model.Contest.Name</p>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Contest.Description))
    {
        <div class="form-group">
            <label asp-for="Contest.Description"></label>
            <p class="form-control-static">@Model.Contest.Description</p>
        </div>
    }
    <div class="form-group">
        <label asp-for="Contest.Status"></label>
        <p class="form-control-static">@Model.Contest.Status</p>
    </div>
    <div class="form-group">
        <label asp-for="Contest.Type"></label>
        <p class="form-control-static">@Model.Contest.Type</p>
    </div>
    <div class="form-group">
        <label asp-for="Contest.TargetValue"></label>
        <p class="form-control-static">@Model.Contest.TargetValue.ToString("N0")</p>
    </div>
    <div class="form-group">
        <label asp-for="Contest.StartDate"></label>
        <p class="form-control-static">@Model.Contest.StartDate</p>
    </div>
    <div class="form-group">
        <label asp-for="Contest.EndDate"></label>
        <p class="form-control-static">
            @if (Model.Contest.EndDate.HasValue)
            {
                <text>@Model.Contest.EndDate</text>}
            else
            {
                <text>TBD</text>
            }
        </p>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Contest.Prizes))
    {
        <div class="form-group">
            <label asp-for="Contest.Prizes"></label>
            <p class="form-control-static">@Model.Contest.Prizes</p>
        </div>
    }
    <div class="form-group">
        <label>Public Board</label>
        <p class="form-control-static">https://@Request.Host/Public/Contests/@Model.Contest.Id<a class="ml-2" href="https://@Request.Host/Public/Contests/@Model.Contest.Id" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
    </div>
    <div class="form-group">
        <label>Public Self Registration</label>
        <p class="form-control-static">https://@Request.Host/Public/Contests/@Model.Contest.Id/Register<a class="ml-2" href="https://@Request.Host/Public/Contests/@Model.Contest.Id/Register" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
    </div>
</form>

@if (this.User.IsInRole("Administrator"))
{
    <a asp-page="./Edit" asp-route-id="@Model.Contest.Id" class="btn btn-primary"><i class="fas fa-pencil-alt"></i><span>Edit</span></a>
    <a asp-page="./Delete" asp-route-id="@Model.Contest.Id" class="btn btn-link">Delete</a>
    <a asp-page="./Index" class="btn btn-link">Cancel</a>
}

<h2 class="mt-4">Learners</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th class="text-right">Start</th>
            <th class="text-right">Target</th>
            <th class="text-right">Current</th>
            <th class="text-right">Progress</th>
            @if (this.User.IsInRole("Administrator"))
            {
                <th class="text-center"><i class="fas fa-trash-alt"></i></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var learner in Model.Contest.Learners)
        {
        <tr>
            <td>
                <a asp-page="./Learners/Edit" asp-route-contestId="@Model.Contest.Id" asp-route-id="@learner.Id">
                    @learner.DisplayName
                </a>
                <small class="text-muted ml-2">@learner.UserName</small>
                <div class="d-block">
                    <span>https://techprofile.microsoft.com/@learner.UserName</span><a href="https://techprofile.microsoft.com/@learner.UserName" target="_blank"><i class="fas fa-external-link-alt ml-2"></i></a>
                </div>
            </td>
            <td>
                @if (learner.Status == "new")
                {
                    <span class="badge badge-success">new</span>
                }
                else if (learner.Status == "failed")
                {
                    <span class="badge badge-danger" title="@learner.StatusMessage">error</span>
                }
            </td>
            <td class="text-right text-v-center">@learner.StartValue.ToString("N0")</td>
            <td class="text-right text-v-center">@learner.TargetValue.ToString("N0")</td>
            <td class="text-right text-v-center">@learner.CurrentValue.ToString("N0")</td>
            <td class="text-right text-v-center">@learner.ProgressValue.ToString("N0")</td>
            @if (this.User.IsInRole("Administrator"))
            {
                <td class="text-center text-v-center"><a asp-page="./Learners/Delete" asp-route-contestId="@Model.Contest.Id" asp-route-id="@learner.Id"><i class="fas fa-trash-alt"></i></a></td>
            }
        </tr>
        }
    </tbody>
</table>

@if (Model.Contest.Learners == null || Model.Contest.Learners.Count == 0)
{
    <p>
        No learners have been added to this contests.
        @if (this.User.IsInRole("Administrator"))
        {
            <text>Would you like to <a asp-page="./Learners/Add" asp-route-contestId="@Model.Contest.Id">add learner(s)</a> to this leader board?</text>
        }
    </p>
}

@if (this.User.IsInRole("Administrator"))
{
    <a asp-page="./Learners/Add" asp-route-contestId="@Model.Contest.Id" class="btn btn-outline-primary"><i class="fas fa-plus"></i><span>Add Learner(s)</span></a>
    <a asp-page="./Delete" asp-route-id="@Model.Contest.Id" class="btn btn-link">Edit</a>
}
