@page "{id:Guid}"
@using Praxeum.Data
@model EditModel
@{
    ViewData["Title"] = "Edit Contest";
}

<h1>Edit Contest</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Contest.Name"></label>
        <input asp-for="Contest.Name" class="form-control" />
        <span asp-validation-for="Contest.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.Description"></label>
        <input asp-for="Contest.Description" class="form-control" />
        <span asp-validation-for="Contest.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.Status"></label>
        <select asp-for="Contest.Status" class="form-control">
            <option>@ContestStatus.Canceled</option>
            <option>@ContestStatus.Ended</option>
            <option>@ContestStatus.InProgress</option>
            <option>@ContestStatus.Ready</option>
        </select>
        <span asp-validation-for="Contest.Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.Type"></label>
        @if (Model.Contest.Status == ContestStatus.InProgress)
        {
            <p class="form-control-static">@Model.Contest.Type</p>
            <input asp-for="Contest.Type" type="hidden" />
            <small class="form-text text-muted">Contest type cannot be changed for contests in progress.</small>
        }
        else
        {
            <select asp-for="Contest.Type" class="form-control">
                <option>@ContestType.AccumulatedLevels</option>
                <option>@ContestType.AccumulatedPoints</option>
                <option>@ContestType.Leaderboard</option>
                <option>@ContestType.Levels</option>
                <option>@ContestType.Points</option>
            </select>
        }
        <span asp-validation-for="Contest.Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.TargetValue"></label>
        <input asp-for="Contest.TargetValue" class="form-control" />
        <span asp-validation-for="Contest.TargetValue" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.Prizes"></label>
        <input asp-for="Contest.Prizes" class="form-control" />
        <span asp-validation-for="Contest.Prizes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.StartDate"></label>
        <input asp-for="Contest.StartDate" type="date" class="form-control" />
        <span asp-validation-for="Contest.StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.EndDate"></label>
        <input asp-for="Contest.EndDate" type="date" class="form-control" />
        <span asp-validation-for="Contest.EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.ProgressUpdateInterval"></label>
        <input asp-for="Contest.ProgressUpdateInterval" class="form-control" />
        <span asp-validation-for="Contest.ProgressUpdateInterval" class="text-danger"></span>
        <small class="form-text text-muted">Determines how often progress, in minutes, is updated for a contest.</small>
    </div>
    <div class="form-check mb-4">
        <input asp-for="Contest.SelfRegistrationEnabled" class="form-check-input" />
        <label class="form-check-label" for="Contest.SelfRegistrationEnabled">Learners are able to register for contests</label>
        <span asp-validation-for="Contest.SelfRegistrationEnabled" class="text-danger d-block"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contest.CustomCss"></label>
        <textarea asp-for="Contest.CustomCss" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Contest.CustomCss" class="text-danger"></span>
        <small class="form-text text-muted">You can customize the look and feel of your challenge and sign-up pages, just paste your custom CSS in the box provided above.</small>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i><span>Save Changes</span></button>
    <a class="btn btn-link" asp-page="Index">Cancel</a>
</form>