@page
@model IndexModel
@{
    ViewData["Title"] = "Contests";
}

<h1>Contests</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
            <th class="text-center">Learners</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contest in Model.Contests)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@contest.Id">@contest.Name</a>
                </td>
                <td>
                    @if (contest.Status == "ready")
                    {
                        <span class="badge badge-secondary">Ready</span>
                    }
                    else if (contest.Status == "inprogress")
                    {
                        <span class="badge badge-success">In Progress</span>
                    }
                    else if (contest.Status == "ended")
                    {
                        <span class="badge badge-info">Ended</span>
                    }
                    else if (contest.Status == "canceled")
                    {
                        <span class="badge badge-danger">Canceled</span>
                    }
                </td>
                <td>@contest.StartDate</td>
                <td>
                    @if (contest.EndDate.HasValue)
                    {
                        <text>@contest.EndDate</text>}
                    else
                    {
                        <text>TBD</text>
                    }
                </td>
                <td class="text-center">@contest.NumberOfLearners</td>
            </tr>
        }
    </tbody>
</table>

@if (this.User.IsInRole("Administrator"))
{
    <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i><span>Add Contest</span></a>
}