@page "/Public/Contests/{id:Guid}"
@using Praxeum.Data
@model DetailsModel

@{
    ViewData["Title"] = "Contest - " + Model.Contest.Name;
}

<h1>@Model.Contest.Name</h1>

@if (!string.IsNullOrWhiteSpace(Model.Contest.Description))
{
    <p>@Model.Contest.Description</p>
}

    <form>
        <div class="form-group">
            <label asp-for="Contest.Status"></label>
            <p class="form-control-static">
                @if (Model.Contest.Status == ContestStatus.Ready)
                {
                    <span class="badge badge-secondary">Ready</span>
                }
                else if (Model.Contest.Status == ContestStatus.InProgress)
                {
                    <span class="badge badge-success">In Progress</span>
                }
                else if (Model.Contest.Status == ContestStatus.Ended)
                {
                    <span class="badge badge-info">Ended</span>
                }
                else if (Model.Contest.Status == ContestStatus.Canceled)
                {
                    <span class="badge badge-danger">Canceled</span>
                }
            </p>
        </div>
        <div class="form-group">
            <label asp-for="Contest.Type"></label>
            <p class="form-control-static">@Model.Contest.Type</p>
        </div>
        @if (Model.Contest.TargetValue.HasValue)
        {
            <div class="form-group">
                <label asp-for="Contest.TargetValue"></label>
                <p class="form-control-static">@Model.Contest.TargetValue.Value.ToString("N0")</p>
            </div>
        }
        @if (Model.Contest.StartDate.HasValue)
        {
            <div class="form-group">
                <label asp-for="Contest.StartDate"></label>
                <p class="form-control-static">
                    <text>@Model.Contest.StartDate</text>
                </p>
            </div>
        }
        @if (Model.Contest.EndDate.HasValue)
        {
            <div class="form-group">
                <label asp-for="Contest.EndDate"></label>
                <p class="form-control-static">
                    <text>@Model.Contest.EndDate</text>
                </p>
            </div>
        }
        @if (Model.Contest.HasPrizes)
        {
            <div class="form-group">
                <label asp-for="Contest.Prizes"></label>
                <p class="form-control-static">@Model.Contest.Prizes</p>
            </div>
        }
    </form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            @if (Model.Contest.Type != ContestType.Leaderboard)
            {
                <th class="text-right">Start</th>
                <th class="text-right">Target</th>
            }
            <th class="text-right">Current</th>
            @if (Model.Contest.Type != ContestType.Leaderboard)
            {
                <th class="text-right">Progress</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var learner in Model.Contest.Learners)
        {
            <tr>
                <td>
                    @learner.DisplayName
                    <small class="text-muted ml-2">@learner.UserName</small>
                    <div class="d-block">
                        <span>https://techprofile.microsoft.com/@learner.UserName</span><a href="https://techprofile.microsoft.com/@learner.UserName" target="_blank"><i class="fas fa-external-link-alt ml-2"></i></a>
                    </div>
                </td>
                @if (Model.Contest.Type != ContestType.Leaderboard)
                {
                    <td class="text-right text-v-center">@learner.StartValue.ToString("N0")</td>
                    <td class="text-right text-v-center">@learner.TargetValue.Value.ToString("N0")</td>
                }
                <td class="text-right text-v-center">@learner.CurrentValue.ToString("N0")</td>
                @if (Model.Contest.Type != ContestType.Leaderboard)
                {
                    <td class="text-right text-v-center">@learner.ProgressValue.ToString("N0")</td>
                }
                @*<td class="text-center text-v-center" style="width: 200px;">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width:@learner.ProgressPercentage%;" aria-valuenow="@learner.ProgressPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td class="text-center text-v-center">
                        @learner.ProgressValue.ToString("N0")/@learner.TargetValue.ToString("N0")
                    </td>*@
            </tr>
        }
    </tbody>
</table>

<a asp-page="Register" asp-route-id="@Model.Contest.Id" class="btn btn-primary"><i class="fas fa-plus"></i><span>Register</span></a>
