@page "/Public/Contests/{id:Guid}/Register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@if (!string.IsNullOrWhiteSpace(Model.Contest.CustomCss))
{
    <style>
        @Html.Raw(Model.Contest.CustomCss)
    </style>
}

<h1>Register</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Contest.Name"></label>
        <p class="form-control-static">@Model.Contest.Name</p>
    </div>
    <div class="form-group">
        <label asp-for="Contest.Type"></label>
        <p class="form-control-static">@Model.Contest.Type</p>
    </div>
    <div class="form-group">
        <label asp-for="Contest.StartDate"></label>
        <p class="form-control-static">
            @if (Model.Contest.StartDate.HasValue)
            {
                <text>@Model.Contest.StartDate.Value.ToString("d")</text>}
            else
            {
                <text>TBD</text>
            }
        </p>
    </div>
    <div class="form-group">
        <label asp-for="Contest.EndDate"></label>
        <p class="form-control-static">
            @if (Model.Contest.EndDate.HasValue)
            {
                <text>@Model.Contest.EndDate.Value.ToString("d")</text>}
            else
            {
                <text>TBD</text>
            }
        </p>
    </div>
    <div class="form-group">
        <label asp-for="Learner.UserName">Enter your Microsoft Learn profile name</label>
        <input asp-for="Learner.UserName" class="form-control" />
        <span asp-validation-for="Learner.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <p><strong>Challenge Participation Acknowledgement:</strong>  The user information you provide (including your username, display name, avatar image, biography, your job title and organization and your user achievements) may be viewed by others for purposes of conducting a learning challenge. You are only required to provide a username and display name in order to participate. Microsoft may also collect and publicly display your learning activity to the challenge leaderboard during the specified duration of the challenge. Your privacy is important to us. Please read our <a href="http://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">Privacy Statement</a> as it describes the types of data we collect from you and your devices, how we use that data, and the legal bases we have to process that data.</p>
    </div>
    <div class="form-check mb-4">
        <input asp-for="Learner.HasAcceptedTerms" class="form-check-input" />
        <label class="form-check-label" for="Learner.HasAcceptedTerms">I agree to the <strong>Challenge Participation Acknowledgement</strong></label>
        <span asp-validation-for="Learner.HasAcceptedTerms" class="text-danger d-block"></span>
    </div>
    <input asp-for="Learner.ContestId" type="hidden" />
    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i><span>Add</span></button>
    <a class="btn btn-link" asp-page="Index">Cancel</a>
</form>