@page "/LeaderBoards/{id:Guid}"
@model DetailsModel

@{
    ViewData["Title"] = "Leader Board";
}

<h1>Leader Board</h1>

<form>
    <div class="form-group">
        <label asp-for="LeaderBoard.Name"></label>
        <p class="form-control-static">@Model.LeaderBoard.Name</p>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.LeaderBoard.Description))
    {
        <div class="form-group">
            <label asp-for="LeaderBoard.Description"></label>
            <p class="form-control-static">@Model.LeaderBoard.Description</p>
        </div>
    }
    <div class="form-group">
        <label>Share</label>
        <p class="form-control-static">https://@Request.Host/Public/LeaderBoards/@Model.LeaderBoard.Id<a class="ml-2" href="https://@Request.Host/Public/LeaderBoards/@Model.LeaderBoard.Id" target="_blank"><i class="fal fa-external-link"></i></a></p>
    </div>
</form>

<a asp-page="Edit" class="btn btn-primary"><i class="fal fa-pencil"></i><span>Edit</span></a>
<a asp-page="Delete" class="btn btn-link">Delete</a>
<a asp-page="Index" class="btn btn-link">Cancel</a>

<h2 class="mt-4">Learners</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Level</th>
            <th class="text-center">Points</th>
            <th></th>
            <th><i class="fal fa-trash"></i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var learner in Model.LeaderBoard.Learners)
        {
            <tr>
                <td>@learner.DisplayName<small class="text-muted ml-2">@learner.UserName</small></td>
                <td class="text-center">@learner.ProgressStatus.CurrentLevel</td>
                <td class="text-center">@learner.ProgressStatus.CurrentLevelPointsEarned/@learner.ProgressStatus.TotalPoints</td>
                <td><a href="https://techprofile.microsoft.com/@learner.UserName">https://techprofile.microsoft.com/@learner.UserName</a><a href="https://techprofile.microsoft.com/@learner.UserName" target="_blank"><i class="fal fa-external-link"></i></a></td>
                <td><a asp-page="./Learners/Remove" asp-route-leaderBoardId="@Model.LeaderBoard.Id" asp-route-learnerId="@learner.Id" asp-route-learnerName="@learner.DisplayNameAndUserName"><i class="fal fa-trash"></i></a></td>
            </tr>
        }
    </tbody>
</table>
@if (Model.LeaderBoard.Learners == null || Model.LeaderBoard.Learners.Count == 0)
{
    <p>No learners have been added to this leader board. Would you like to <a>add a learner</a> to this leader board?</p>
}

<a asp-page="./Learners/Add" asp-route-leaderBoardId="@Model.LeaderBoard.Id" class="btn btn-outline-primary"><i class="fal fa-plus"></i><span>Add Learner</span></a>
