@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section>

    <h1>Top Learners</h1>

    <table class="table table-ranked">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">Level</th>
                <th class="text-center">Points</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var learner in Model.Learners)
            {
                <tr>
                    <td>@learner.DisplayName<small class="text-muted ml-2">@learner.UserName</small></td>
                    <td class="text-center">@learner.ProgressStatus.CurrentLevel</td>
                    <td class="text-center">@learner.ProgressStatus.CurrentLevelPointsEarned/@learner.ProgressStatus.TotalPoints</td>
                    <td><a href="https://techprofile.microsoft.com/@learner.UserName" class="d-none d-lg-inline">https://techprofile.microsoft.com/@learner.UserName</a><a href="https://techprofile.microsoft.com/@learner.UserName" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

</section>

<section>

    <h1>Leader Boards</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leaderBoard in Model.LeaderBoards)
            {
                <tr>
                    <td>
                        <a asp-page="/LeaderBoards/Details" asp-route-id="@leaderBoard.Id">@leaderBoard.Name</a>
                        <div class="d-block">
                            https://@Request.Host/Public/LeaderBoards/@leaderBoard.Id<a class="ml-2" href="https://@Request.Host/Public/LeaderBoards/@leaderBoard.Id" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
    {
        <a asp-page="/LeaderBoards/Create" class="btn btn-primary"><i class="fas fa-plus"></i><span>Add Leader Board</span></a>
    }

</section>