@page
@inject Microsoft.Extensions.Options.IOptions<Praxeum.WebApp.Helpers.AzureADB2COptions> azureAdB2COptions
@using System.Security.Claims
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
}
<h2>Claims</h2>
<dl>
    @foreach (Claim claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
<h2>Azure AD B2C Options</h2>

<dl>
    <dt>@nameof(@azureAdB2COptions.Value.ApiScopes)</dt>
    <dd>@azureAdB2COptions.Value.ApiScopes</dd>
    <dt>@nameof(@azureAdB2COptions.Value.ApiUrl)</dt>
    <dd>@azureAdB2COptions.Value.ApiUrl</dd>
    <dt>@nameof(@azureAdB2COptions.Value.Authority)</dt>
    <dd>@azureAdB2COptions.Value.Authority</dd>
    <dt>@nameof(@azureAdB2COptions.Value.AzureAdB2CInstance)</dt>
    <dd>@azureAdB2COptions.Value.AzureAdB2CInstance</dd>
    <dt>@nameof(@azureAdB2COptions.Value.ClientId)</dt>
    <dd>@azureAdB2COptions.Value.ClientId</dd>
    <dt>@nameof(@azureAdB2COptions.Value.ClientSecret)</dt>
    <dd>@azureAdB2COptions.Value.ClientSecret</dd>
    <dt>@nameof(@azureAdB2COptions.Value.DefaultPolicy)</dt>
    <dd>@azureAdB2COptions.Value.DefaultPolicy</dd>
    <dt>@nameof(@azureAdB2COptions.Value.EditProfilePolicyId)</dt>
    <dd>@azureAdB2COptions.Value.EditProfilePolicyId</dd>
    <dt>@nameof(@azureAdB2COptions.Value.RedirectUri)</dt>
    <dd>@azureAdB2COptions.Value.RedirectUri</dd>
    <dt>@nameof(@azureAdB2COptions.Value.ResetPasswordPolicyId)</dt>
    <dd>@azureAdB2COptions.Value.ResetPasswordPolicyId</dd>
    <dt>@nameof(@azureAdB2COptions.Value.SignInPolicyId)</dt>
    <dd>@azureAdB2COptions.Value.SignInPolicyId</dd>
    <dt>@nameof(@azureAdB2COptions.Value.SignUpPolicyId)</dt>
    <dd>@azureAdB2COptions.Value.SignUpPolicyId</dd>
    <dt>@nameof(@azureAdB2COptions.Value.SignUpSignInPolicyId)</dt>
    <dd>@azureAdB2COptions.Value.SignUpSignInPolicyId</dd>
    <dt>@nameof(@azureAdB2COptions.Value.Tenant)</dt>
    <dd>@azureAdB2COptions.Value.Tenant</dd>
</dl>
